.header{
    background-color: #64778bff;
    width: auto;
    height: auto;
}

.headerLogo{
    background:linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
    ), url("../images/bg_small_tros-min.jpg") no-repeat center center fixed;
    width: 100%;
    background-size: cover;
}

.imglogo{
    width: 120px;
    height: auto;
    margin: 10em;
}

.leyenda > p{
    height: auto;
    color: #e8e8e8ff;
    font-size: 1.5em;
}